body {
    margin: 0;
    padding: 0;
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    background: #003c71;
}

.calculadora{
    width: 300px;
    padding: 40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
}
.calculadora h1{
    color: white;
    font-size 16px;
    text-transform: uppercase;
}
.calculadora input[type='text'],.calculadora input[type='text']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.calculadora input[type='text']:focus,.calculadora input[type='text']:focus
{
width: 280px;
border-color: chartreuse;
}
.calculadora input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green ;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.calculadora input[type = "submit"]:hover
{
    background: green;
}
.calculadora output[type = "number"]
{
color: yellow;
font-size: 40px;
background: green;

}
